



/*space above reserved*/

body{
    background-color: black;
    color: cornsilk;
}
h1 {
    font-family:'IM Fell English SC', serif; 
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#mugshot {
    font-family: 'press start 2p', cursive;
}

#entry text {
    font-family: 'pacifico', cursive;
}

























































































































































































































}